---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Thumbnail from "../../components/Thumbnail.astro";

export async function getStaticPaths() {
    const allProjects = await getCollection("projects");
    return allProjects.map((project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title + " | erlendtryti"}>
    <div class="mx-8 md:mx-0">
        <Thumbnail project={project.data} />
        <div class="prose dark:prose-invert my-8 transition-colors duration-300 prose-img:rounded prose-img:overflow-hidden">
            <Content />
        </div>
    </div>
</Layout>
